[Unit]
Description=HW04 Elixir Practice

[Service]
Type=simple
User=haoqing
Group=haoqing
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4801
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/haoqing/CS4550-HW05/bulls
ExecStart=/bin/bash /home/haoqing/CS4550-HW05/bulls/start.sh

[Install]
WantedBy=multi-user.target
